<!DOCTYPE html>
<html ng-app="coloradoResidency">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=9">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="s.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="moment.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body>

	<div class="startpage"><img src="COResHelpLanding.png" id="landing"></div>

	<div class="container" id="appmain">

		<form name="reviewForm" ng-controller="FormController as form">

              <!--  Review Form -->
              <div id="mainform" style="display:none">
	              <h3>About You</h3>
	              <fieldset class="form-group">
	              	<select ng-model="form.term" type="text" class="form-control" ng-options="term for term in terms" title="term">
	              		<option value>What semester do you want to qualify for?</option>
	              	</select>
	              </fieldset>
	              
	              <fieldset class="form-group">
	              	<select ng-model="form.year" type="number" class="form-control" ng-options="year for year in years" title="year">
	              		<option value>In what year is the semester you want to qualify for?</option>
	              	</select>
	              </fieldset>
	              
	              <div ng-show="form.term && form.year" class="alert alert-info">
	              	<p>The start date of {{form.term}} {{form.year}} is {{ ("" + form.term + " " + form.year) | termStart | date }}</p>
	              </div>

	              <fieldset class="form-group">
				  	<input type="date" class="form-control" placeholder="mm/dd/yyyy" title="birthday"ng-model="form.bday"/>
				  </fieldset>

				  <div ng-show="form.term && form.year && form.bday" class="alert alert-danger">
				  	<p>You will be {{form.bday | relAge}} by the first day of classes for {{form.term}} {{form.year}}.</p>
				  </div>

				  <button ng-click="setAdult()" id="maincnt" type="button" class="btn btn-info cntbtn">Continue</button>
			  </div>

			  <div id="nonadultform" style="display:none">
				  <p>Are you married?</p>
				  <fieldset class="form-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default adultbtn">Married</button>
					  <button type="button" class="btn btn-default nonadultbtn">Unmarried</button>
					</div>
				  </fieldset>
				  <p>Are you a graduate student?</p>
				  <fieldset class="form-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default adultbtn">Grad</button>
					  <button type="button" class="btn btn-default nonadultbtn">Undergrad</button>
					</div>
				  </fieldset>
				  <p>Will a parent live in Colorado with you?</p>
				  <fieldset class="form-group">
					<div class="btn-group">
					  <button ng-click="setDeriv(true)" type="button" class="btn btn-default">Yes</button>
					  <button ng-click="setDeriv(false)" type="button" class="btn btn-default">No</button>
					</div>
				  </fieldset>

				  <button type="button" id="nonadultcnt" class="btn btn-info cntbtn">Continue</button>
			  </div>
        </form>

        <div id="adultres" style="display:none">
        	<h2>Adult</h2>
        	<button type="button" class="btn btn-warning reload">Start Over</button>
        </div>

        <div id="derivres" style="display:none">
        	<h2>Derivative</h2>
        	<button type="button" class="btn btn-warning reload">Start Over</button>
        </div>

        <div id="emancres" style="display:none">
        	<h2>Emancipated Minor</h2>
        	<button type="button" class="btn btn-warning reload">Start Over</button>
        </div>

    </div>
	</body>

</html>