<!DOCTYPE html>
<html ng-app="coloradoResidency">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=9">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="s.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="moment.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body>

		<div ng-controller="FormController">
			<div class="startpage" ng-show="!(showMainForm || mainCntClicked)"><img src="COResHelpLanding.png" id="landing" ng-click="showMainForm=true"></div>

			<form role="form">
				
				<div id="mainform" class="container" ng-show="showMainForm">
					<h3>About You</h3>
					<div class="form-group form-group-lg">
						<label for="semester">What semester do you want to qualify for?</label>
						<select id="semester" type="text" ng-model="term" class="form-control input-lg" ng-options="term for term in terms">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group form-group-lg">
						<label for="semester">In what year is the semester you want to qualify for?</label>
						<select id="year" type="number" step="1" ng-model="year" class="form-control input-lg" ng-options="year for year in years" ng-change="setTermStart()">
							<option value=""></option>
						</select>
					</div>
					<div ng-show="term && year" class="alert alert-info">
		              	<p>The start date of {{term}} {{year}} is {{termStart | date }}</p>
		            </div>
					<div class="form-group form-group-lg">
						<label for="bday">Enter your date of birth (mm/dd/yyyy): </label>
						<input id="bday" type="date" ng-model="bday" ng-change=
						"checkDates()" class="form-control input-lg">
					</div>
					<div ng-show="tryAge" class="alert alert-info">
					  	<p>You will be {{relAge}} by the first day of classes for {{term}} {{year}}.</p>
					</div>
					<div ng-show="mainCntClicked && !(term && year && bday)" class="alert alert-danger">
						<p>All fields are required</p>
					</div>
					<button class="btn btn-default btn-lg btn-centerline" ng-click="setAdult()">Continue</button>
				</div>

				<div class="container" ng-show="showNonAdultForm">
					<h3>More About You</h3>
					<div class="form-group form-group-lg">
						<label for="married">Are you married?</label>
						<select id="married" type="text" ng-model="married" class="form-control input-lg" ng-options="ans for ans in yesNo">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group form-group-lg">
						<label for="grad">Are you married?</label>
						<select id="grad" type="text" ng-model="grad" class="form-control input-lg" ng-options="ans for ans in yesNo">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group form-group-lg">
						<label for="marriageDate">When was your date of marriage?</label>
						<input id="marriageDate" type="date" ng-show="married == 'Yes'" ng-model="marriageDate" class="form-control input-lg">
					</div>
					<div class="form-group form-group-lg">
						<label for="parent">Will a parent live in Colorado with you?</label>
						<select id="parent" type="text" ng-model="parent" class="form-control input-lg" ng-options="ans for ans in yesNo">
							<option value=""></option>
						</select>
					</div>
				</div>

			</form>
		</div>


			  <div id="nonadultform" style="display:none">
			  	<h3>About You</h3>
				  <p>Are you married?</p>
				  <fieldset class="form-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default" id="married">Married</button>
					  <button type="button" class="btn btn-default" id="unmarried">Unmarried</button>
					</div>
				  </fieldset>
				  <p>Are you a graduate student?</p>
				  <fieldset class="form-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default" id="grad">Grad</button>
					  <button type="button" class="btn btn-default" id="undergrad">Undergrad</button>
					</div>
				  </fieldset>
				  <p>Will a parent live in Colorado with you?</p>
				  <fieldset class="form-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default" id="deriv">Yes</button>
					  <button type="button" class="btn btn-default" id="nonderiv">No</button>
					</div>
				  </fieldset>

				  <button type="button" id="nonadultcnt" class="btn btn-info cntbtn">Continue</button>
			  </div>
        </form>

        <div id="adultres" style="display:none">
        	<h2>Adult</h2>
        	<p>People who are over the age of 23 before the term's start date, who are married, or who are graduate students can qualify as adults.
        	<button type="button" class="btn btn-warning reload sobtn">Start Over</button>
        </div>

        <div id="derivres" style="display:none">
        	<h2>Derivative</h2>
        	<p>People who are under the age of 23, who are not married, and who are undergraduate students can qualify as a resident under the Colorado residency of their legal guardian.
        	<button type="button" class="btn btn-warning reload sobtn">Start Over</button>
        </div>

        <div id="emancres" style="display:none">
        	<h2>Emancipated Minor</h2>
        	<p>People who are under the age of 23 before the term's start date, who are unmarried, who are undergraduates, who do not have a legal guardian living in Colorado must be emancipated.
        	<button type="button" class="btn btn-warning reload sobtn">Start Over</button>
        </div>

    </div>
	</body>

</html>