.redBar {
	width: 30%;
	height: 10px;
	background-color: rgb(214, 0, 0);
	display: inline-block;
}

.yellowBar {
	width: 63%;
	height: 10px;
	background-color: rgb(240, 194, 96);
	display: inline-block;
}

h1#pageTitle {
	color: #1C207A;
	font-family: serif;
}

p#pageSubtitle {
	color: #1C207A;
	padding: 5px;
}

.jumbotron {
	padding: 10px;
	background-color: #E9E9E9;
}